.newsblog{
	margin: auto;
	width: 85%;
	border: 3px;
	padding: 10px
}

p {
  color: #6c757d;
}

.img-fluid{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

