@charset "UTF-8";
/* CSS Document */
html, body {
	height: 100%;
}



body {
	align-items: center;
	height: 100%;
	background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fafafa, #f8f8f8, #f6f6f6, #f4f4f4);
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

 
	
}

.bg{
	background-image: url("../Images/mosmarkt.png") ;
	z-index: -1;
	
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.form-signin {
	width: 100%;
	max-width: 480px;
	padding: 30px;
	margin: auto;
	background-color: #ffffff;
	border: 2px solid #D8D8D8;
	border-radius: 20px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="text"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
	margin-top: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.invalid {
	color: #ce3535;
	font-size: 0.9rem;
	padding: 1rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.invalidbox {
	background-color: #f2e2e1;
	position: relative;
}

.flexlog {
	padding: 30px;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-align: center;
}

.spaceholder {
	padding-top: 30px;
}

.bordershadow {
	box-shadow: 0 0px 6px 4px rgba(0, 0, 0, 0.18), 0 0px 6px 4px
		rgba(0, 0, 0, 0.18);
}

.listbordershadow {
	box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.18), 0 0px 3px 2px
		rgba(0, 0, 0, 0.18);
}

.navbd {
	padding-top: 0px;
	margin-right: 0;
	margin-left: 0;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0
		rgba(0, 0, 0, 0.2);
	
	
}

.navbar-brand{
	font-size: 1.2rem !important;
}
.navbar-dark-span{
	font-size: 0.7rem;

}

.navdesign{
	background-color: #597943 !important;
}


.formular-bd{
    background-color: #f1f1f1;
    padding: 2%;
    margin-top: 2% !important;
    margin: 25em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;	
}
#loader {
position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display: none;
}
.activate{
	display: block !important;
	opacity: 2;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.voteopBox {
  display: none;
  border: solid 1px black;
  background-color: #333;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;

    
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.card-body{
	
	background-color: #597943;
	
}
.project-body{
		height: 60px !important;
}
.pov-body{
	height: 700px !important;
}
.navsm{
	max-heigth: 10px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255) !important;
    font-size: 1.2rem !important;
}

.wrap-login100 {
	margin-top: 3%;
	opacity:0.98;
}


.container-login100 {
min-height: 0;
	
}	
.opindex{
	opacity:0.95;
	}
	
.noopindex{
	opacity:1.0 !important;
}
.opbg{
	opacity:0.3;
}

.btn-outline-light{
	color: #fff !important;
}
.btn-outline-light:hover{
	color: #000 !important;
}

.custom-file-label::after {
	    content: "Durchsuchen";
}


.collapse-head{
	background-color: #597943 !important;

}
.collapse-body{
	    background-color: white !important;
}

.btn-link{
	color: white !important;
}

.has-error input, .has-error select, .has-error textarea {
    border: 1px solid #a94442;
}

input.form-control{
    color: #010100 !important;

}
select.form-control {
    color: #010100 !important;
}
textarea.form-control{
	color: #010100 !important;
}
.help-block{
	font-color: #010100 !important;
}
div.help-block.with-errors{
	color: #a94442 !important;
}

#msgBox {
  visibility: visible;
  border: solid 1px black;
  background-color: #333;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 300;

    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
  z-index: 200;
}
#overlay:target {
  visibility: visible;
  opacity: 1;
}

#background{
position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
}
#forground{
position:absolute;
z-index: 1;
}
#bg-text
{
    color:lightgrey;
    font-size:60px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}

.opoverview-card-body{
	background-color: white !important;
}

.txt-green{
	color: green !important;
}
.card-header button {
    display: inline-block !important;
    overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 80%;
}
.car-header h5{
	    display: inline !important;
    font-size: 0.83em;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.collapse-head  div:before {
   font-family: 'FontAwesome';
   content: "\f078";
   float: right;
   transition: all 0.5s;
   color: #fff;
 
}
.collapse-head.active div:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
    content: "\f054"; 

} 