@charset "UTF-8";
/* CSS Document */
html, body {
	height: 100%;
}

body {
	align-items: center;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 480px;
	padding: 30px;
	margin: auto;
	background-color: #ffffff;
	border: 2px solid #D8D8D8;
	border-radius: 20px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="text"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
	margin-top: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.invalid {
	color: #ce3535;
}

.invalidbox {
	background-color: #f2e2e1;
	position: relative;
}

.flexlog {
	padding: 30px;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-align: center;
}

.spaceholder {
	padding-top: 30px;
}

.bordershadow {
	box-shadow: 0 0px 6px 4px rgba(0, 0, 0, 0.18), 0 0px 6px 4px
		rgba(0, 0, 0, 0.18);
}

.listbordershadow {
	box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.18), 0 0px 3px 2px
		rgba(0, 0, 0, 0.18);
}

.navbd {
	padding-top: 0px;
	margin-right: 0;
	margin-left: 0;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0
		rgba(0, 0, 0, 0.2);
	
	
}
.navbar-dark{
	height: 50px;
}
.navbar-brand{
	font-size: 1.0rem !important;
}
.navbar-dark-span{
	font-size: 1.0rem;
}
.navbar-light-span{
	font-size: 1.5rem;
}

.bg{
	background-image: linear-gradient(to left bottom, #95b2cd, #b3c3d9, #ced4e4, #e6e7ef, #fbfbfb);
}

.formular-bd{
    background-color: #f1f1f1;
    padding: 0.01em 16px;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;	
}
#loader {
position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display: none;
}
.activate{
	display: block !important;
	opacity: 2;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.voteopBox {
  display: none;
  border: solid 1px black;
  background-color: #333;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;

    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}
