<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_BBP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test_fileupload_servlet</display-name>
    <servlet-name>test_fileupload_servlet</servlet-name>
    <servlet-class>test_fileupload_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test_fileupload_servlet</servlet-name>
    <url-pattern>/test_fileupload_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadToDBServlet</display-name>
    <servlet-name>UploadToDBServlet</servlet-name>
    <servlet-class>servlet.UploadToDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadToDBServlet</servlet-name>
    <url-pattern>/UploadToDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadToDBResultsServlet</display-name>
    <servlet-name>UploadToDBResultsServlet</servlet-name>
    <servlet-class>servlet.UploadToDBResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadToDBResultsServlet</servlet-name>
    <url-pattern>/UploadToDBResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tear</display-name>
    <servlet-name>tear</servlet-name>
    <servlet-class>servlet.tear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tear</servlet-name>
    <url-pattern>/tear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>servlet.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createproject</display-name>
    <servlet-name>createproject</servlet-name>
    <servlet-class>project.createproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createproject</servlet-name>
    <url-pattern>/createproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createproject</display-name>
    <servlet-name>Createproject</servlet-name>
    <servlet-class>servlet.Createproject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createproject</servlet-name>
    <url-pattern>/Createproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projectprocess</display-name>
    <servlet-name>projectprocess</servlet-name>
    <servlet-class>servlet.projectprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectprocess</servlet-name>
    <url-pattern>/projectprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProjectAll</display-name>
    <servlet-name>DisplayProjectAll</servlet-name>
    <servlet-class>servlet.DisplayProjectAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProjectAll</servlet-name>
    <url-pattern>/DisplayProjectAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveProject</display-name>
    <servlet-name>ApproveProject</servlet-name>
    <servlet-class>servlet.ApproveProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveProject</servlet-name>
    <url-pattern>/ApproveProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>